{:deps
 {org.clojure/clojure       {:mvn/version "1.11.1"}
  com.maxmind.geoip2/geoip2 {:mvn/version "4.1.0"}
  clj-http/clj-http         {:mvn/version "3.12.3"}
  pandect/pandect           {:mvn/version "1.0.2"}
  com.brunobonacci/safely   {:mvn/version "0.7.0-alpha3"}
  org.clojure/tools.logging {:mvn/version "1.2.4"}}}
